
@font-face {

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
}

.container {
  width: 1200px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
}

.header {
  display: flex;
  width: 1060px;
  padding: 0 70px 0 70px;
  position: relative;
}

.main-index, .main-catalog {
  display: flex;
  flex-direction: column;
}

.logo {
  display: block;
  margin-bottom: -6px;
  position: absolute;
  z-index: 2;
}

.catalog-filter {
  display: flex;
  color: #fff;
  background: url(../images/background-filter.jpg);
  background-color: #283a42;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  padding: 35px 70px 70px;
}

.nav-menu {
  display: flex;
  padding: 2px 0 2px 170px;
  flex-wrap: wrap;
}

.nav-menu-item {
  list-style-type: none;
}

.nav-menu-link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  padding: 20px 16px;
  position: relative;
}

.navigation-current a:not([href]) {
  background-color: #fff;
}

.navigation-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #756257;
  left: 16px;
  right: 16px;
}

.top-user {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: auto;
  padding-right: 20px;
}

.top-button {
margin-left: 20px;
}

.search-link {
  background: url(../images/icon-search.svg);
  padding: 12px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.heart-link {
  background: url(../images/icon-heart.svg);
  padding: 12px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.favorits-number {
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  background: var(--icons-text, #7db54f);
  padding: 4px;
  position: absolute;
  margin: -8px;
  border-radius: 10px;
  right: 262px;
}

.h2-title, .info-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.catalog-header {
  width: 1060px;
}

.catalog-header-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.filter-list-infrastructure,
.filter-list-type {
  display: flex;
  width: 150px;
  align-items: self-start;
  flex-direction: column;
}

.title-filter {
  padding-bottom: 20px;
}

.hotel-filter-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.price-filter {
  display: flex;
  flex-direction: column;
}

.button-filter {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.form-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
}

.breadcrumbs-link-home::before {
  content: url('../images/icon-home-breadcrumbs.svg');
  width: 12px;
  display: block;
}

.breadcrumbs {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
}

.breadcrumbs-link {
  margin-left: 10px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.60);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.30);
}

.h2-title-result {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  width: 1060px;
}

.view {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  padding-left: 70px;
  list-style: none;
}

.product-catalog {
  padding: 50px 70px 60px;
}

.product-card-title-link {
  text-decoration: none;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 16px 20px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  position: relative;
}

.product-list::after {
  content: "";
  width: 1060px;
  height: 1px;
  background: #E6E6E6;
  display: block;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  bottom: -40px;
}

.select-control, .product-card-filter.result {
  font-family: inherit;
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.product-card {
  display: grid;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  padding: 20px;
  grid-template-rows: 212px 1fr;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  align-items: center;
}

.product-card-image-link,
.product-card-link {
  grid-column: span 2;
  text-decoration: none;
}

.product-card-title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.product-cart-block-price {
  display: flex;
  justify-content: space-between;
}

.product-cart-button {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.product-card-price {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
}

.rating-product {
  color: #333;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background: #f2f2f2;
  padding: 8px 20px;
  border-radius: 4px;
}

.pagination-link {
  display: grid;
  align-content: center;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background: #82B3D3;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  position: absolute;
}

.pagination-link:hover {
  border-radius: 4px;
  border: 1px solid var(--buttons-second, #82B3D3);
  background: var(--buttons-blue-hover, #68A2CA);
}

.pagination-link:focus {
  border-radius: 4px;
  border: 1px solid var(--buttons-second, #82B3D3);
  background: var(--buttons-blue-hover, #68A2CA);
}

.pagination-link:active {
  border-radius: 4px;
  background: var(--buttons-second, #82B3D3);
}

.subscribe-description {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.button-subscribe {
  font-family: inherit;
  padding: 8px 50px;
  background: #82b3d3;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.title-subscribe {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.top-subtitle-description {
  text-align: center;
  color: #333;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.email-subscribe {
  font-family: inherit;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  width: 452px;
  flex: 1 0 0;
  align-self: stretch;
}

.subscribe-index-form {
  margin-top: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.phone-footer {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-htmlacademy {
  display: flex;
  align-items: center;
}

.pagination {
  width: 1060px;
  list-style-type: none;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(6, 60px);
  padding: 40px 0 0;
  position: relative;
}

.pagination-current {
  display: grid;
  align-content: center;
  text-align: center;
  width: 60px;
  height: 60px;
  text-decoration: none;
  border-radius: 4px;
  background: #f2f2f2;
}

.pagination-link-dots {
  display: grid;
  align-content: center;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-decoration: none;
}

.background-welcome {
  background-color: #fff;
  background: url(../images/divider.svg) bottom center no-repeat, url(../images/index-background.jpg) top center no-repeat;
  background-size: contain, cover;
}

.text-welcome {
  width: 458px;
  height: 352px;
  padding: 51px 371px 82px 371px;
}

.top-subtitle {
  padding: 69px 0;
  width: 670px;
  margin: 0 auto;
}

.subscribe {
  background-image: url(../images/background-subscribe.jpg);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  width: 1200px;
}

.subscribe-form {
  padding: 96px 304px 96px;
}

.subscribe-catalog {
  color: #000;
  margin: 0;
  padding: 96px 258px 104px;
}

.subscribe-description-catalog {
  color: #333;
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.subscribe-form-catalog {
  margin-top: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-search-hotel {
  font-family: inherit;
  color: #fff;
  padding: 8px 50px;
  border-radius: 4px;
  background: #756157;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 54px;
  display: inline-block;
  text-decoration: none;
}

.search-hotel {
  text-align: center;
  padding: 96px 304px;
}

a.button-header {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background: #756157;
  border-radius: 4px;
  padding: 8px 35px;
  display: flex;
  text-decoration: none;
  align-self: center;
}

h3.real-sity {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.h3-title {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.advantages-center {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: auto;
  list-style-type: none;
  position: relative;
}

.line-decoration::before {
  position: absolute;
  display: block;
  margin: 80px;
  content: url('../images/line.svg');
  padding-top: 5px;
}

.advantages-top-text-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #fff;
}

.advantages-top {
  background-color: #82b3d3;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.advantages-bottom {
  background-color: #82b3d3;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.advantages-sity {
  width: 230px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 91px 85px;
}

.advantages-sity::before {
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.30);
  position: absolute;
}

.service-title-text {
  padding: 64px 0;
  width: 505px;
  margin: auto;
}

.service-block {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.service-padding {
  padding: 80px 85px;
}

.service-home::before {
  content: url('../images/advantage-icon.svg');
  display: block;
}

.service-meal::before {
  content: url('../images/advantage-icon-food.svg');
  display: block;
}

.service-souvenirs::before {
  content: url('../images/advantage-icon-souvenir.svg');
  display: block;
}

.service-meal,
.service-souvenirs,
.service-home {
  width: 230px;
  display: block;
  padding: 74px 85px;
  text-align: center;
}

p.service-description, .advantages-text-description {
  color: #333;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.description-line {
  padding-top: 15px;
}

.advantages-decorations {
  background: var(--background-second-1, rgba(131, 179, 211, 0.12));
  width: 230px;
  display: block;
  padding: 103px 85px;
  text-align: center;
}

.advantages-decorations-road {
  background: var(--background-second-2, rgba(131, 179, 211, 0.20));
  width: 230px;
  display: block;
  padding: 103px 85px;
  text-align: center;
}

.advantages-decorations-bottom {
  background: var(--background-second-1, rgba(131, 179, 211, 0.12));
  width: 230px;
  display: block;
  padding: 74px 85px;
  text-align: center;
}

.button-icon {
  padding: 14px;
  border-radius: 4px;
  border: 2px solid var(--icons-basic, #e5e5e5);
  display: grid;
}

.button-icon:hover {
  border-radius: 4px;
  border: 2px solid var(--icons-basic, #000);
}

.button-icon:focus {
  border-radius: 4px;
  border: 2px solid var(--icons-second-hover, #68A2CA);
}

.button-icon:active {
  border-radius: 4px;
  border: 2px solid var(--icons-basic, #000);
}

.select-control {
  display: flex;
  width: 292px;
  padding: 14px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  margin-left: auto;
  background: #fff;
  appearance: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: calc(100% - 20px) center;
}

.select-control:hover {
  border-radius: 4px;
  border: 2px solid var(--buttons-blue-hover, #68A2CA);
}

.select-control:focus {
  border-radius: 4px;
  border: 2px solid var(--buttons-blue-hover, #68A2CA);
}

.select-control:disabled {
  border-radius: 4px;
  border: 2px solid var(--background-basic-2, rgba(0, 0, 0, 0.30));
}

.button-browne {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 26px;
}

.button-browne:hover, .button-header:hover, .button-search-hotel:hover {
  border-radius: 4px;
  background: var(--buttons-brown-hover, #615048);
  color: var(--texts-background-deafault, #FFF);
}

.button-browne:focus, .button-header:focus, .button-search-hotel:focus {
  border-radius: 4px;
  background: var(--buttons-brown-hover, #615048);
  color: var(--texts-background-deafault, #FFF);
}

.button-browne:active, .button-header:active, .button-search-hotel:active {
  border-radius: 4px;
  background: var(--buttons-basic, #756157);
  color: var(--texts-background-small, rgba(255, 255, 255, 0.30));
}

.button-blue {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 20px;
}

.button-blue:hover, .button-subscribe:hover {
  border-radius: 4px;
  background: var(--buttons-blue-hover, #68A2CA);
  color: var(--texts-background-deafault, #FFF);
}

.button-blue:focus, .button-subscribe:focus {
  border-radius: 4px;
  background: var(--buttons-blue-hover, #68A2CA);
  color: var(--texts-background-deafault, #FFF);
}

.button-blue:active, .button-subscribe:active {
  border-radius: 4px;
  background: var(--buttons-second, #82B3D3);
  color: var(--texts-background-small, rgba(255, 255, 255, 0.30));
}

.button-green {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 16px;
}

.button-green:hover {
  border-radius: 4px;
  background: var(--buttons-green-hover, #6C9E42);
  color: var(--texts-background-deafault, #FFF);
}

.button-green:focus {
  border-radius: 4px;
  background: var(--buttons-green-hover, #6C9E42);
  color: var(--texts-background-deafault, #FFF);
}

.button-green:active {
  border-radius: 4px;
  background: var(--buttons-select, #7DB54F);
  color: var(--texts-background-small, rgba(255, 255, 255, 0.30));
}

.footer {
  width: 1200px;
}

.contacts-footer {
  padding: 40px 70px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-icons {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: inline-block;
}

.button-icon-vk,
.button-icon-telegram,
.button-icon-youtube {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
/*
.button-icon-vk:hover, .button-icon-telegram:hover, .button-icon-youtube:hover {
  fill: #68a2ca;
}

.button-icon-vk:focus, .button-icon-telegram:focus, .button-icon-youtube:focus {
  fill: #68a2ca;
}

.button-icon-vk:active, .button-icon-telegram:active, .button-icon-youtube:active {
  fill: #68a2ca;
}
*/
.catalog-price-start, .catalog-price-end {
  color: #000;
  align-items: center;
  opacity: 0.3;
}

.button-price {
  font-family: inherit;
  width: 191px;
  height: 36px;
  padding: 8px 50px;
  border-radius: 4px;
  background: #82b3d3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.reset-price {
  font-family: inherit;
  display: flex;
  width: 191px;
  height: 36px;
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 0;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-filter-price {
  width: 143px;
  padding: 12px 20px;
  color: #000;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-footer {
  display: inline-block;
  width: 40px;
  height: 40px;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
