
@font-face {

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
}

.container {
  width: 1200px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
}

.header {
  display: flex;
  width: 1060px;
  padding: 0 70px 0 70px;
  position: relative;
}

.main-index, .main-catalog {
  display: flex;
  flex-direction: column;
}

.logo {
  display: block;
  margin-bottom: -6px;
  position: absolute;
  z-index: 2;
}

.catalog-filter {
  display: flex;
  color: #fff;
  background: url("../images/background-filter.jpg");
  background-color: #283a42;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  padding: 35px 70px 70px;
}

.nav-menu {
  display: flex;
  padding: 2px 0 2px 168px;
  flex-wrap: wrap;
  max-width: 540px;
}

.nav-menu-item {
  list-style-type: none;
}

.nav-menu-link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  padding: 20px 16px;
  position: relative;
}

.nav-menu-link:hover,
.search-link:hover,
.heart-link:hover {
  opacity: 0.6;
}

.nav-menu-link:focus,
.search-link:focus,
.heart-link:focus {
  outline: 3px solid #83b3d3;
}

.navigation-current a:not([href]) {
  background-color: #fff;
}

.navigation-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #756257;
  left: 16px;
  right: 16px;
}

.top-user {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: auto;
  padding-right: 21px;
  margin-top: 20px;
  max-width: 120px;
  flex-wrap: wrap;
}

.top-button {
margin-left: 20px;
}

.search-link {
  background: url("../images/icon-search.svg");
  padding: 20px 24px 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.heart-link {
  background: url("../images/icon-heart.svg");
  padding: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.favorits-number {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  background: var(--icons-text, #7db54f);
  padding: 5px;
  position: absolute;
  margin-top: -12px;
  border-radius: 10px;
  margin-left: -2px;
}

.h2-title, .info-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 25px;
}

.info-title-welcome {
  padding-bottom: 22px;
}

.h2-title-subscribe-catalog {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 25px;
  margin-top: 3px;
}

.catalog-header {
  width: 1060px;
}

.catalog-header-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.filter-list-infrastructure,
.filter-list-type {
  display: flex;
  width: 150px;
  align-items: self-start;
  flex-direction: column;
  margin-right: auto;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.title-filter {
  padding-bottom: 20px;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.hotel-filter-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 32px;
}

.price-filter-field {
  padding-top: 32px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.price-filter {
  display: flex;
  flex-direction: column;
  width: 288px;
  margin-left: auto;
}

.button-filter {
  display: flex;
  flex-direction: column;
  width: 190px;
  margin-left: 70px;
  padding-top: 57px;
}

.form-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 38px;
  border: 0;
  padding-bottom: 2px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 44px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.toggle-max:hover,
.toggle-min:hover {
  box-shadow: #f2f2f2 0 0 6px;
}

.toggle-max:focus,
.toggle-min:focus {
  box-shadow: #f2f2f2 0 0 6px;
  outline: 3px solid #83b3d3;
}

.toggle-max:active,
.toggle-min:active {
  box-shadow: #f2f2f2 0 0 6px;
  outline: 2px solid #83b3d3;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.toggle-min:focus {
  outline: 3px solid #83b3d3;
}

.toggle-min:active {
  outline: 2px solid #83b3d3;
}

.breadcrumbs-link-home::before {
  content: url("../images/icon-home-breadcrumbs.svg");
  width: 12px;
  display: block;
  margin-top: 2px;
}

.breadcrumbs {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  margin-top: 8px;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link::after {
  content: url("../images/arrow-breadcrumbs.svg");
  background-repeat: no-repeat;
  display: block;
  top: 0;
  position: absolute;
  left: 10px;
}

.breadcrumbs-link {
  margin-left: 29px;
  cursor: pointer;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.60);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.30);
}

.h2-title-result {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.catalog-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -1px;
  justify-content: space-between;
  width: 1060px;
  padding: 0;
}

.view {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  padding-left: 70px;
  list-style: none;
  margin: 0;
}

.product-catalog {
  padding: 50px 70px 60px;
}

.product-card-title-link {
  text-decoration: none;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 19px 20px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  position: relative;
  margin-top: 40px;
}

.product-list::after {
  content: "";
  width: 1060px;
  height: 1px;
  background: #e6e6e6;
  display: block;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  bottom: -40px;
}

.select-control, .product-card-filter.result {
  font-family: inherit;
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 15px;
  height: 16px;
  border: 3px solid transparent;
  background-color: #fff;
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  transform: rotate(45deg);
  height: 10px;
  width: 5px;
  border-bottom: 2px solid #3f5e72;
  border-right: 2px solid #3f5e72;
  content: "";
  margin: 30%;
  bottom: 0;
}

.control-mark-circle {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: 3px;
  background-color: #fff;
  border-radius: 50%;
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input[type="radio"]:checked + .control-mark-circle::before {
  position: absolute;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  content: "";
  margin: 20%;
  bottom: 0;
  background-color: #3f5e72;
}

.control-input[type="radio"]:focus + .control-mark-circle {
  outline: 3px solid #83b3d3;
}

.control:hover {
  opacity: 0.6;
}

.control:focus {
  opacity: 0.3;
}

.product-card {
  display: grid;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  padding: 20px;
  grid-template-rows: 212px 1fr;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  align-items: center;
}

.product-card:hover {
  border: 1px solid #acabab;
  box-shadow: 0 0 3px 0 rgba(198, 198, 198, 0.2);
}

.product-card-image-link,
.product-card-link {
  grid-column: span 2;
  text-decoration: none;
  margin-left: -1px;
  margin-top: -2px
}

.product-card-title {
  font-family: inherit;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.product-cart-block-price {
  display: flex;
  justify-content: space-between;
}

.product-cart-button {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.product-card-price {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
}

.rating-product {
  color: #333;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background: #f2f2f2;
  padding: 8px 20px;
  border-radius: 4px;
}

.pagination-link {
  display: grid;
  align-content: center;
  text-align: center;
  width: 58px;
  height: 58px;
  border-radius: 4px;
  background: #82b3d3;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  position: absolute;
  border: 1px solid #82b3d3;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  background-color: #82b3d3;
}

.subscribe-description {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.button-subscribe {
  font-family: inherit;
  padding: 8px 50px;
  background: #82b3d3;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  border: 0;
}

.title-subscribe {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1px;
}

.top-subtitle-description {
  text-align: center;
  color: #333;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.email-subscribe {
  font: inherit;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  width: 452px;
  flex: 1 0 0;
  align-self: stretch;
  padding: 0 20px;
  border: 0;
}

.subscribe-index-form {
  margin-top: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 682px;
}
.phone-footer {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 4px;
}

.phone-footer:hover {
  color: #756157;
}

.phone-footer:focus {
  color: #756157;
}

.phone-footer:active {
  color: #756157;
  opacity: 0.3;
}

.logo-htmlacademy {
  display: flex;
  align-items: center;
}

.logo-htmlacademy:hover path {
  fill: #756157;
}

.logo-htmlacademy:focus path {
  fill: #756157;
}

.logo-htmlacademy:active path {
  fill: #756157;
  opacity: 0.3;
}

.pagination {
  width: 1060px;
  list-style-type: none;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(6, 60px);
  padding: 40px 0 0;
  position: relative;
}

.pagination-current {
  display: grid;
  align-content: center;
  text-align: center;
  width: 60px;
  height: 60px;
  text-decoration: none;
  border-radius: 4px;
  background: #f2f2f2;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.pagination-link-dots {
  display: grid;
  align-content: center;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
}

.background-welcome {
  background-color: #fff;
  background: url("../images/divider.svg") bottom center no-repeat, url("../images/index-background.jpg") top center no-repeat;
}

.text-welcome {
  width: 458px;
  height: 349px;
  padding: 51px 371px 82px 371px;
}

.top-subtitle {
  padding: 68px 0 89px;
  width: 670px;
  margin: 0 auto;
}

.subscribe {
  background-image: url("../images/background-subscribe.jpg");
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  width: 1200px;
}

.subscribe-form {
  padding: 92px 260px 104px;
}

.subscribe-catalog {
  color: #000;
  margin: 0;
  padding: 75px 258px 104px;
}

.subscribe-description-catalog {
  color: #333;
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: -5px;
}

.subscribe-form-catalog {
  margin-top: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-search-hotel {
  font-family: inherit;
  color: #fff;
  padding: 8px 50px;
  border-radius: 4px;
  background: #756157;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 53px;
  display: inline-block;
  text-decoration: none;
}

.search-hotel {
  text-align: center;
  padding: 96px 304px;
}

.search-hotel-h2title {
  padding-bottom: 19px;
}

a.button-header {
  font-family: inherit;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background: #756157;
  border-radius: 4px;
  padding: 9px 35px;
  display: flex;
  text-decoration: none;
  align-self: center;
}

h3.real-sity {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  padding-bottom: 30px;
}

.real-sity::before {
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.30);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.h3-title {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  position: relative;
}

.h3-title-service {
  margin-top: 22px;
  margin-bottom: 30px;
}

.advantages-center {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.advantages-center-image,
.advantages-bottom-image {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  vertical-align: bottom;
}

.line-decoration {
  padding-bottom: 30px;
  margin: 0;
}

.line-decoration::before {
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.30);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-top-text-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #fff;
  padding-top: 31px;
  margin: 0;
}

.advantages-top {
  background-color: #82b3d3;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.advantages-bottom {
  background-color: #82b3d3;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.advantages-sity {
  width: 230px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 100px 85px;
}

.service-title-text {
  padding: 63px 0;
  width: 505px;
  margin: auto;
}

.service-block {
  display: flex;
  align-items: baseline;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.service-padding {
  padding: 80px 85px;
}

.service-home::before {
  content: url("../images/advantage-icon.svg");
  display: block;
}

.service-meal::before {
  content: url("../images/advantage-icon-food.svg");
  display: block;
}

.service-souvenirs::before {
  content: url("../images/advantage-icon-souvenir.svg");
  display: block;
}

.service-meal,
.service-souvenirs,
.service-home {
  width: 230px;
  display: block;
  padding: 83px 85px;
  text-align: center;
}

p.service-description, .advantages-text-description {
  color: #333;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.advantages-text-line {
  padding-top: 33px;
}

.advantages-decorations {
  background: var(--background-second-1, rgba(131, 179, 211, 0.12));
  width: 230px;
  display: block;
  padding: 113px 85px;
}

.advantages-decorations-road {
  background: var(--background-second-2, rgba(131, 179, 211, 0.20));
  width: 230px;
  display: block;
  padding: 113px 85px;
}

.advantages-decorations-bottom {
  background: var(--background-second-1, rgba(131, 179, 211, 0.12));
  width: 230px;
  display: block;
  padding: 80px 85px 82px 85px;
  text-align: center;
}

.button-icon {
  padding: 14px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  display: grid;
}

.button-icon:hover {
  border-radius: 4px;
  outline: 2px solid #000;
}

.button-icon:focus {
  border-radius: 4px;
  outline: 2px solid #68a2ca;
}

.button-icon:active {
  border-radius: 4px;
  outline: 2px solid #000;
}

.button-icon-current {
  border-color: #000;
}

.select-control {
  display: flex;
  width: 292px;
  padding: 14px 18px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  margin-left: auto;
  background: #fff;
  appearance: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: calc(100% - 19px) center;
}

.select-control:hover {
  border-radius: 4px;
  outline: 2px solid #68a2ca;
}

.select-control:focus {
  border-radius: 4px;
  outline: 2px solid #68a2ca;
}

.select-control:disabled {
  border-radius: 4px;
  outline: 2px solid rgba(0, 0, 0, 0.30);
}

.button-browne {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 26px;
}

.button-browne:hover,
.button-header:hover,
.button-search-hotel:hover {
  background: #615048;
  color: #fff;
}

.button-browne:focus,
.button-header:focus,
.button-search-hotel:focus {
  background: #615048;
  color: #fff;
}

.button-browne:active,
.button-header:active,
.button-search-hotel:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.button-blue {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 20px;
}

.button-blue:hover, .button-subscribe:hover {
  background-color: #68a2ca;
  color: #fff;
}

.button-blue:focus, .button-subscribe:focus {
  background-color: #68a2ca;
  color: #fff;
}

.button-blue:active, .button-subscribe:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.button-green {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 16px;
}

.button-green:hover {
  background-color: #6c9e42;
  color: #fff;
}

.button-green:focus {
  background-color: #6c9e42;
  color: #fff;
}

.button-green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.30);
}

.footer {
  width: 1200px;
}

.contacts-footer {
  padding: 45px 70px 28px 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-icons {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: inline-block;
  width: 130px;
}

.button-icon-vk,
.button-icon-telegram,
.button-icon-youtube {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.catalog-price-start {
  color: #000;
  align-items: center;
  opacity: 0.3;
  position: absolute;
  top: 55%;
  left: 37%;
}

.catalog-price-end {
  color: #000;
  align-items: center;
  opacity: 0.3;
  position: absolute;
  top: 55%;
  right: 7%;
}

.button-price {
  font-family: inherit;
  width: 191px;
  padding: 8px 50px;
  border-radius: 4px;
  background: #82b3d3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 31px;
  border: 0;
  cursor: pointer;
}

.button-price:hover {
  background-color: #68a2ca;
}

.button-price:focus {
  background-color: #68a2ca;
}

.button-price:active {
  background-color: rgba(104, 162, 202, 0.6);
}

.reset-price {
  font-family: inherit;
  display: flex;
  width: 191px;
  padding: 9px 50px 5px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.reset-price:hover {
  opacity: 0.6;
}

.reset-price:focus {
  outline: 3px solid #83b3d3;
}

.reset-price:active {
  color: rgba(255, 255, 255, 0.3)
}

.reset-price:disabled {
  background: #e5e5e5;
}

.catalog-filter-price {
  font-family: inherit;
  width: 80px;
  padding: 11px 40px 8px 18px;
  color: #000;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: 3px solid transparent;
}

.catalog-filter-price:focus {
  border-color: #83b3d3;
  background: #e6e6e6;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-footer {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.icon-footer-svg:hover path {
  fill: #68a2ca;
}

.icon-footer-svg:focus path {
  fill: #68a2ca;
}

.icon-footer-svg:active path {
  fill: #68a2ca;
  opacity: 0.3;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.catalog-filter-price, .number-modal {
    appearance: none;
    -moz-appearance: textfield;
}

.number-modal {
  width: 31px;
  height: 48px;
  background: #f2f2f2;
  border: 0;
  color: #000;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding: 0;
  margin: 0 auto;
}

.button-number-min {
  width: 40px;
  height: 48px;
  margin: 0 auto;
  border: 0;
}

.button-number-max {
  width: 40px;
  height: 48px;
  margin: 0 auto;
  border: 0;
}

.button-number-min-svg:hover path,
.button-number-max-svg:hover path {
  fill: #000;
}

.button-number-min-svg:focus path,
.button-number-max-svg:focus path {
  border-radius: 4px;
  outline: 3px solid #82b3d3;
}

.button-number-min-svg:active path,
.button-number-max-svg:active path {
  fill: #000;
  opacity: 0.2;
}

.catalog-filter-item:not(:last-child) {
  padding-bottom: 16px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.80);
  z-index: 50;
}

.modal {
  width: 577px;
  position: relative;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  top: 62px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button-svg {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-close-button:hover {
 background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 67px;
  font-family: inherit;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  margin-left: -1px;
}
.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-subtitle {
  color: #000;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  max-width: 120px;
}

.auth-form-user-options {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.field-group {
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
  flex-wrap: wrap;
}

.auth-form-user-options .control-label {
  font-weight: 400;
}

.auth-form .field {
  width: 370px;
  height: 42px;
  background: #f2f2f2;
  border: 3px solid transparent;
  padding: 0 47px 0 19px;
  background-image: url("../images/date.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
  color: #000;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.auth-form .field:hover {
  background-color: #e6e6e6;
}

.auth-form .field:focus {
  background-color: #e6e6e6;
  border-color: #83b3d3;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  width: 15px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.number-guests {
  display: flex;
  justify-content: space-between;
  margin-top: -5px;
}

.modal-container-close {
  display: none;
}

.tooltip {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: 60px;
}

.tooltip-toggle {
  border: none;
  background-image: url("../images/info-toggle.svg");
  background-repeat: no-repeat;
  background-color: #83b3d3;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  background-position-x: center;
  background-position-y: center;
  cursor: pointer;
  top: 10px;
}

.tooltip-text {
  background-color: #333;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
  width: 216px;
  position: absolute;
  top: 100%;
  margin-top: 33px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  margin-left: 4px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label-date {
  position: relative;
  padding-right: 16px;
  padding-top: 9px;
  width: 119px;
}

.form-label-number {
  position: relative;
  padding-right: 46px;
  margin: auto;
}

.form-label-number-child {
  padding-right: 83px;
  width: 48px;
}

.button-modal {
  padding: 18px 77px;
  border-radius: 10px;
  background: #83b3d3;
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  margin-top: 20px;
}

.button-modal:hover {
  background-color: #68A2CA;
}

.button-modal:focus {
  background-color: #68a2ca;
}

.button-modal:active {
  background-color: #68a2ca;
  color: rgb(255,255,255,0.3);
}

.modal-text {
  margin: 0;
  display: flex;
  justify-content: start;
}

.modal-text-red {
  color: #ff5757;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding-left: 157px;
  width: 375px;
}

.modal-text-black {
  color: #333;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 375px;
  padding-left: 157px;
}

.tooltip-text:before {
  content: "";
  background-image: url("../images/triangle.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  }

  fieldset, legend {
    padding: 0;
    margin: 0;
  }
